html {	
	background: #1192d3;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	font-family:  "Helvetica Neue", "Helvetica", "Sans-Serif";
}

ul {
	list-style-type: none;
	background-color: #c4f1fe;
	color: grey;
	height: 300px;
	top: 100px;
	position: relative;
	width: 350px;
	max-width: 660px;
	margin: 0 auto;
}
#temp {
	position: absolute;
	font-size: 80px;
	top: 10px;
	right: 0;
	width: 260px;
}

#city {
	position: absolute;
	top: 90px;
	text-align: center;
	right: 0;
	width: 500px;
}